.johao-footer
{
    height: 60px;
    width: 100%;
    padding: 0.5rem 1 rem;
    background: rgb(0,0,0,0.2);
    color: rgb(0,0,0,0.7);
    text-align: center;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
}